.item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 773px;
    margin: auto;
    border-radius: 12px;
    border: 1px solid var(--Grey-200, #EAEBED);
    background: #FFF;
    padding: 25px;
    margin-bottom: 15px;

    h2 {
        color: var(--Blue-Main-500, #5E96FC);
        font: 600 20px Inter;
    }

    .flex {
        display: flex;
        color: var(--Black, #232134);
        gap: 15px;
    }

    .flex p {
        font: 600 16px Inter;
    }

    .img {
        background-image: url(./assets/M.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
    }
}