.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .vacancy {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 40px;
        width: 773px;
        gap: 16px;
        border-radius: 12px;
        border: 1px solid var(--Grey-200, #EAEBED);
        background: #FFF;

        h1 {
            color: var(--Black, #232134);
            font: 700 28px Inter;
        }

        .info {
            display: flex;
            text-align: center;
            align-items: center;

            h2 {
                color: var(--Black, #232134);
                font: 700 20px Inter;
            }

            p {
                color: var(--Black, #232134);
                font: 400 20px Inter;
                margin-left: 20px;
            }
        }

        .city {
            display: flex;
            text-align: center;
            align-items: center;
            gap: 10px;

            .img {
                background-image: url(./assets/M.svg);
                background-repeat: no-repeat;
                background-size: contain;
                width: 20px;
                height: 20px;
            }

            p {
                color: var(--Black, #232134);
                font: 400 16px Inter;
            }
        }
    }

    .infoWork {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 40px;
        width: 773px;
        gap: 16px;
        border-radius: 12px;
        border: 1px solid var(--Grey-200, #EAEBED);
        background: #FFF;

        .responsibilitiesWork h2,
        .requirementsWork h2,
        .conditionsWork h2 {
            color: var(--Black, #232134);
            font: 700 20px Inter;           
        }

        .responsibilitiesWork p,
        .requirementsWork p,
        .conditionsWork p {
            color: var(--Black, #232134);           
            font: 400 16px Inter;                   
        }
    }
}